* {
   margin: 0%;
   padding: 0%;
   list-style: none;
   text-decoration: none;
}

.header_div {
   display: flex;
   background: linear-gradient(to right, #ffd900, #ff6a00);
   height: 15vh;
   justify-content: space-around;
   align-items: center;
}

.logo {
   height: 40px;
}

.ul_div {
   display: flex;
   /* flex-basis: 40%; */
   justify-content: space-around;
   align-items: center;
   margin-left: 300px;
}

.header_li {
   color: white;
}

.header_a {
   display: flex;
   align-items: center;
   text-decoration: none;
   margin-left: 50px;
}

.header_a2 {
   display: flex;
   height: 40px;
   width: 130px;
   margin-left: 50px;
   background: rgba(255, 255, 255, 0.452);
   position: relative;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.User {
   height: 40px;
   margin: 0 30px 0 50px;
}

.pgh_div {
   display: flex;
   align-items: center;
}

.header_p {
   color: white;
}

.arrow_div {
   display: flex;
   align-items: center;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-bottom: 10px solid white;
   margin-left: 15px;
   transform: rotate(180deg);
}

.onclick {
   display: grid;
   align-items: center;
   text-align: center;
   background: white;
   color: gray;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   position: absolute;
   margin-left: 80px;
   margin-top: 60px;
   height: 100px;
   width: 150px;
}

.menu_icon_div {
   display: none;
}
.menu_icon {
   width: 20px;
   border: 2px solid white;
   margin-right: 200px;
}

.openMenu {
   display: grid;
   position: absolute;
   background: white;
   box-shadow: 4px 0 8px 4px rgba(0, 0, 0, 0.2);
   height: 100vh;
   width: 50vw;
   left: 0px;
   top: 0px;
   animation: openMenu 0.2s forwards;
}

@keyframes openMenu {
   0% {
      width: 0px;
      padding: 0px;
   }
   20% {
      width: 46 px;
      padding: 4px;
   }
   40% {
      width: 92 px;
      padding: 8px;
   }
   60% {
      width: 138px;
      padding: 12px;
   }
   80% {
      width: 184px;
      padding: 16px;
   }
   100% {
      width: 230x;
      padding: 20px;
   }
}

.menu_user {
   display: grid;
   align-items: center;
   height: 15vh;
   /* margin-left: 20px; */
   border-bottom: 2px solid black;
}

.mobile_ul {
   margin-left: 20px;
}

.mobile_ul li {
   margin: 15px 0px;
}

.mobile_ul_div {
   display: grid;
   align-items: center;
   height: 20vh;
   margin-top: -264px;
   border-bottom: 2px solid black;
}

@media (max-width: 1080px) {
   .menu_icon_div {
      display: grid;
      grid-gap: 5px;
   }

   .ul_div {
      display: none;
   }

   .logo_div {
      display: flex;
      width: 100vw;
      justify-content: space-around;
      align-items: center;
   }
}
